@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,600;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: indigo;
    align-items: stretch;
}


.box {
    width: 20%;
    background-color: rgb(141, 216, 128);
    padding: 16px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;

    transition: 0.5s ease-in-out all;
    cursor: pointer;
}

.box h1{
    font-size: 5em;
}

.box:hover{
    flex-grow: 1;
}

.middle-box{
    background-color: grey;
}

.middle-box:hover{
    flex-grow: 10;
}