body {
    margin: 0;
    font-family: 'Poppins';
}

header {
    width: 1024px;
    /*vw stands for viewport width*/
    height: 60vh;
    /*vh stands for viewport height*/
    background-color: palevioletred;
    margin: 0 auto;
}

footer {
    width: 100%;
    height: 200px;
    background-color: darkslategrey;
}

nav{
    float: right;
    margin-right: 16px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    /* border: 1px solid white; */
    color: rgb(192, 191, 191);
    box-sizing: border-box;
    width: 100px;
    text-align: center;

    cursor: pointer;
}

nav ul li:hover{
    color: white;
    border-bottom: 1px solid white;
}

#top-logo{
    float: left;
    padding: 8px 0 0 16px;
}

#top-logo img{
    width: 36px;
    float: left;
}

#top-logo p{
    float: left;
    height: 28px;
    line-height: 28px;
    margin: 0;
    margin-left: 8px;
    margin-top: 4px;
}