body {
    margin: 0;
    font-family: 'Poppins';
}

header {
    width: 1024px;
    /*vw stands for viewport width*/
    height: 60vh;
    /*vh stands for viewport height*/
    background-color: palevioletred;
    margin: 0 auto;
}

footer {
    width: 100%;
    height: 200px;
    background-color: darkslategrey;
}

nav{
    float: right;
    margin-right: 16px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    /* border: 1px solid white; */
    color: rgb(192, 191, 191);
    box-sizing: border-box;
    width: 100px;
    text-align: center;

    cursor: pointer;
}

nav ul li:hover{
    color: white;
    border-bottom: 1px solid white;
}

#top-logo{
    float: left;
    padding: 8px 0 0 16px;
}

#top-logo img{
    width: 36px;
    float: left;
}

#top-logo p{
    float: left;
    height: 28px;
    line-height: 28px;
    margin: 0;
    margin-left: 8px;
    margin-top: 4px;
}

.clearfix{
    clear: both;
}

.heading-area{
    padding-top: 160px;
    padding-left: 16px;
}

.heading-area h1{
    font-size: 60px;
    color: white;
    margin: 0;
    padding: 0;
}

.heading-area p{
    color: palevioletred;
    border-radius: 16px;
    width: 150px;
    text-align: center;
    background-color: white;
    padding: 4px 0;
    cursor: pointer;
}

header{
    position: relative;
}

header > img{
    position: absolute;
    top: 150px;
    right: 32px;
    width: 240px;
    z-index: 5;
}

header .circle{
    position: absolute;
    top: 130px;
    right: 14px;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-color: lightcyan;
    z-index: 4;
}

#main{
    width: 1024px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    height: 480px;
}

#main h1{
    text-align: center;
}

#main iframe{
    width: 500px;
    height: 300px;
    position: absolute;
    z-index: 1;
    left: 32px;
}
#main .text-area{
    width: 500px;
    position: absolute;
    z-index: 2;
    background: white;
    border: 1px solid rgb(190, 190, 190);
    right: 80px;
    top: 100px;
    padding: 30px 60px;
}